<aside [class]="sidebarClasses()">
  <div class="flex items-center justify-between p-4 border-b border-gray-200 min-h-[70px] bg-white">
    <div class="flex items-center" *ngIf="!isCollapsed()">
      <h3 class="text-xl font-semibold text-black m-0">Enterprise Flow</h3>
    </div>
    <button 
      type="button"
      (click)="onToggleSidebar()"
      class="inline-flex items-center p-2 text-black rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300 transition-all duration-200"
      [attr.aria-label]="isCollapsed() ? 'Expandir sidebar' : 'Contraer sidebar'">
      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
      </svg>
    </button>
  </div>

  <nav class="flex-1 overflow-y-auto py-4 bg-white">
    <ul class="space-y-2 font-medium px-3">
      <li *ngFor="let item of navigationItems">
        <a 
          [routerLink]="item.route"
          routerLinkActive="bg-black text-white"
          class="flex items-center p-2 text-black rounded-lg hover:bg-gray-100 group transition-all duration-200"
          [title]="isCollapsed() ? item.label : ''"
          (click)="onNavigate(item.route)">
          
          <ng-container [ngSwitch]="item.icon">
            <svg *ngSwitchCase="'home'" class="w-5 h-5 text-gray-600 transition duration-75 group-hover:text-black flex-shrink-0" fill="currentColor" viewBox="0 0 20 20">
              <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
            </svg>
            
            <!-- <svg *ngSwitchCase="'users'" class="w-5 h-5 text-gray-600 transition duration-75 group-hover:text-black flex-shrink-0" fill="currentColor" viewBox="0 0 20 20">
              <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"/>
            </svg> -->

            <svg *ngSwitchCase="'operaciones'" class="w-5 h-5 text-gray-600 transition duration-75 group-hover:text-black flex-shrink-0" fill="currentColor" viewBox="0 0 20 20">
              <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"/>
            </svg>
          </ng-container>
          
          <span class="flex-1 ms-3 whitespace-nowrap" *ngIf="!isCollapsed()">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>

<div 
  *ngIf="isMobileOpen()" 
  class="fixed inset-0 bg-black bg-opacity-50 z-40 sm:hidden"
  (click)="onCloseMobileOverlay()">
</div>
