<ion-header>
<app-chat-header
  [title]="'Chat'"
  [timeLabel]="'11:15'"
  (organizationChange)="onOrgChange($event)"
>
</app-chat-header>
<app-spiner [show]="isLoading()" message="Cargando chat..."></app-spiner>
</ion-header>

<ion-alert
  [isOpen]="errorOpen()"
  header="Error"
  [message]="errorMessage() || 'Algo salió mal. Intenta de nuevo más tarde.'"
  [buttons]="['Aceptar']"
  (didDismiss)="closeError()"
></ion-alert>


  <ion-content class="chat-content" fullscreen>
    <div class="day-divider">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <span>Hoy</span>
    </div>

    <div class="messages">
      <ng-container *ngFor="let m of messages(); trackBy: trackById">
        <div class="row" [class.me]="m.me">
          <ion-avatar *ngIf="!m.me" class="avatar">
            <img [src]="m.avatar || defaultAvatar" alt="avatar" />
          </ion-avatar>

          <div class="bubble" [class.me]="m.me">
            <div  class="sender-name">
    {{ m.senderName }}
  </div>
            <p class="text">{{ m.text }}</p>

            <img
              *ngIf="m.image"
              [src]="m.image"
              class="rounded-xl max-h-64 object-cover mb-2"
            />

            <span class="meta">
              <ion-icon name="time-outline"></ion-icon>
              {{ m.time }}
            </span>
          </div>

          <ion-avatar *ngIf="m.me" class="avatar me">
            <img [src]="myAvatar" alt="yo" />
          </ion-avatar>
        </div>
      </ng-container>
    </div>
  </ion-content>

  <ion-footer class="composer">
    <ion-toolbar>

        <div *ngIf="showEmojiPicker" class="emoji-container">
  <emoji-picker (emoji-click)="addEmoji($event)"></emoji-picker>
</div>

 <ion-item lines="none" class="composer-item">

        <!-- Botón EMOJI -->
        <ion-button
          slot="start"
          fill="clear"
          size="small"
          aria-label="Emoji"
          (click)="toggleEmojiPicker()"
        >
          <ion-icon name="happy-outline"></ion-icon>
        </ion-button>


        <ion-button
          slot="start"
          fill="clear"
          aria-label="Adjuntar"
          (click)="fileInput.click()"
        >
          <ion-icon name="attach-outline"></ion-icon>
          
        </ion-button>
        <input
          #fileInput
          type="file"
          accept="image/*"
          hidden
          (change)="onFileSelected($event)"
        />

        <ion-input
          [(ngModel)]="draft"
          placeholder="Escribe un mensaje"
          (keyup.enter)="!isSending() && send()"
          class="input"
        >
        </ion-input>

        <!-- <ion-button slot="end" fill="clear" size="small" aria-label="Grabar audio">
          <ion-icon name="mic-outline"></ion-icon>
        </ion-button> -->

        <ion-button
          slot="start"
          fill="clear"
          size="small"
          aria-label="Camara"
          (click)="takePhoto()"
        >
          <ion-icon name="image-outline"></ion-icon>
        </ion-button>

        <ion-button
          slot="end"
          shape="round"
          class="send-btn"
          (click)="send()"
          aria-label="Enviar mensaje"
          [disabled]="isSending() || !draft?.trim()"  
        >
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-toolbar>
  </ion-footer>

