<app-chat-header
  [title]="'Chat'"
  [timeLabel]="'11:15'"
  (organizationChange)="onOrgChange($event)"
>
</app-chat-header>
<app-spiner [show]="isLoading()" message="Cargando conversaciones..."></app-spiner>

<ion-content class="chatlist-content">

  <div *ngIf="filteredConversations().length === 0" class="empty-message">
    Sin conversaciones. ¡Inicia una nueva!
  </div>




  <ion-list *ngIf="filteredConversations().length > 0">
    <ion-item
      button
      detail
      *ngFor="let conv of filteredConversations()"
      (click)="openChat(conv)"
    >
      <ion-avatar slot="start">
        <div class="avatar-circle">
          {{ conv.initials }}
        </div>
      </ion-avatar>

      <ion-label style="margin-left:10px">
        <h2>{{ conv.name }} ({{ conv.display_name }})</h2>
        <p>{{ conv.lastMessage }}</p>
      </ion-label>

      <ion-badge *ngIf="(conv.unread ?? 0) > 0" slot="end">
        {{ conv.unread }}
      </ion-badge>
    </ion-item>
  </ion-list>
</ion-content>

  <ion-fab class="fab-above-tabs" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="newChat()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>


